/* Font size  */
.size-10{
    font-size: 10px!important;;
}
.size-15{
    font-size: 15px!important;;
}
.size-20{
    font-size: 20px!important;
}
.size-25{
    font-size: 25px!important;
}
.size-30{
    font-size: 30px!important;
}
.size-35{
    font-size: 35px!important;
}
.size-40{
    font-size: 40px!important;;
}
.size-50{
    font-size: 50px!important;;
}
.size-60{
    font-size: 60px!important;;
}
/* Border */
.border-r0{
    border-radius: 0px !important;
}
.border-r5{
    border-radius: 5px !important;
}
.border-r10{
    border-radius: 10px !important;
}
.border-r20{
    border-radius: 20px !important;
}
.border-r40{
    border-radius: 40px !important;
}
.border-50{
    border-radius: 50%;
}
.border-right-0{
    border-right: 0px !important;
}
.border-lightgray{
    border: 1px solid rgb(188 188 188 / 31%);
}
.border-gray{
    border: 1px solid gray !important;;
}
.border-top-0{
    border-top: 0 !important;
}
.border-left-0{
    border-left: 0!important;
}
.border-bottom-darkgray{
    border-bottom:1px solid #c8c8c8 !important;
}
.border-bottom-darkgray-2{
    border-bottom:2px solid #c8c8c8 !important;
}
.border-orange-2{
    border: 2px solid orange !important;
}
.border-darkgary{
    border:1px solid #c8c8c8 !important;
}
.border-darkgary-2{
    border:2px solid #c8c8c8 !important;
}
.border-black{
    border: 1px solid black !important;
}
.border-r-orange{
    border-right: 1px solid orange !important;;
}
/* width */
.w-10{
    width: 10% !important;
}
.w-20{
    width: 20% !important;
}
.w-30{
    width: 30% !important;
}
.w-31{
    width: 31% !important;
}
.w-35{
    width: 35% !important;
}
.w-40{
    width: 40% !important;
}
.w-45{
    width: 45% !important;
}
.w-50{
    width: 50% !important;
}
.w-60{
    width: 60% !important;
}
.w-65{
    width: 65% !important;
}
.w-70{
    width: 70% !important;
}
.w-80{
    width: 80% !important;
}
.w-85{
    width: 85% !important;
}
.w-90{
    width: 90% !important;
}
.w-95{
    width: 95% !important;
}
/* height */
.height-0{
    height: 0px !important;
}
/* padding */
.pl-5{
    padding-left: 5px;
}
/* background-color */
.bg-transparent{
    background-color: transparent !important;;
}
.bg-orangered{
    background-color: orangered !important;
}
.bg-copyright{
    background-color: #2F2F2F;
}
.bg-light-orange{
    background-color: rgb(255, 244, 225) !important;;
}
.bg-gray{
    background-color: gray !important;
}
.bg-light-gray{
    background-color: rgb(232, 232, 232) !important;
}
.bg-bluedark{
    background-color: #06111A;
}
.bg-lightdark{
    background-color: #151F27;
}
.bg-orange{
    background-color: orange!important;
}
.bg-white{
    background-color: white;
}
.bg-f{
    background-color: #141E26;
}
/* color */
.white{
    color:white !important;
}
.color-lightgray{
    color: #d4d4d4;
}
.color-g{
    color: gray;
}
.orange{
    color: rgb(255, 136, 0);
}
.color-black{
    color: black !important;
}

/* font-weight */
.font-w600{
    font-weight: 600!important;
}
/* margin */
.mt-4r{
    margin-top: 4rem!important;;
}
/* elements */
.cycle{
    width: 5px;
    height:5px;
    border-radius: 50%;
    align-self: center;
}
.button{
width: 300px;
height: 50px;
border-radius: 30px;
}
p{
    margin-bottom: 0 !important;
}
ul{
    list-style-type: none;
}
.cursor-p{
    cursor: pointer;
}