@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
*{
    margin: 0;
    padding: 0;
}
.row{
    --bs-gutter-x: 0rem !important;
}

#pricing{
    height: 50vh;
    background: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png), linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,219,219,1) 0%, rgba(219,219,219,1) 100%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.pricing-and-plans .col .row{
    margin: 10%;
    text-transform: uppercase;
    font-family: 'Syne', sans-serif;
}
.pricing-and-plans .col .row p{
    font-size:12px; 
    margin-right: 10px;
    
}
#payment{
    padding: 70px 0;
}
#payment .row:nth-child(2){
    margin: 20px;
}
#payment .row:nth-child(1) p{
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-weight: 600;
    font-size:18px;
}
.annual-payment{
    color: gray;
}
.switch-btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.switch-btn p{
    font-size:15px !important; 
    margin: 5px;
}
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 62px;
    height: 35px;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 1;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.9em;
    width: 1.9em;
    border-radius: 16px;
    left: 1.2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
   }
   
   .switch input:checked + .slider {
    background-color: orange;
    border: 1px solid transparent;
   }
   .switch input:checked + .annual-payment{
    color: black !important;
   }
   .switch input:checked + .monthly-payment{
    color:gray !important;
   }
   .switch input:checked + .slider:before {
    transform: translateX(1.5em);
   }
.cards{
    width: 80%;
    margin:auto !important;
}
.cards .card{
    border: 1px solid transparent !important;
    border-radius: 10px !important;
    transition: 0.5s;
    margin: 20px;
}
.cards .card:hover{
    border: 1px solid rgba(198, 197, 197, 0.675) !important;
    box-shadow: 2px 2px 9px #c1c0c0;
    transition-timing-function: ease-in-out;
}
.cards .card .description button, #specialPlans .row:nth-child(3) button{
    border: 1px solid rgb(192, 192, 192);
    width: 100%;
    padding: 0.7rem 0;
    border-radius: 20px;
    margin-top: 22px;
    transition: 0.5s;
    margin-bottom: 10px;
}
.cards .card .description button:hover, #specialPlans .row:nth-child(3) button:hover{
    transition-timing-function: ease-in-out;
    background-color:orange;
    border-color: orange;
    color:white;
}
.cards .card .offer ul li {
    font-size: 16px;
    margin: 5px 10px;
}
.cards .card .offer ul li i{
    margin-right: 15px;
    color: rgb(4, 87, 4);
}
.cards .card .offer ul li del,.cards .card .offer ul li del i{
    color: rgb(183, 183, 183);
}
#payment .row:nth-child(5) p span{
    width: 24px;
    border-radius: 50%;
}
#payment .row:nth-child(6) .orange,#specialPlans .row:nth-child(2) .orange{
    width: 2%;
    border: 1px solid orange;
}
#payment .row:nth-child(6) .line,#specialPlans .row:nth-child(2) .line{
    border:1px solid #bcbcbc83;
    width: 70%;
}

#compare .row, #compare .row .col{
    border: 1px solid rgb(222, 222, 222) ;
}
#people .row.comma{
    width: 5%;
}
#people .rating-stars{
    color: orange;
}
#people .people-profile .profile-img img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
#specialPlans .nav-link{
    border: none;
    font-size: 1rem;
    margin-right: 1.875rem;
    transition: all 0.5s ease-in-out;
    border: none;
    border-bottom: 0.0125rem solid transparent;
    color: #828690;
    background: transparent;
    border-radius: 0rem;
    font-weight: 500;
}
#specialPlans .nav-link:hover{
    border-bottom: 0.0125rem ;
    border-bottom: 0.0125rem solid orangered !important;
    color: orangered !important;
    border: none;
}
#specialPlans .nav-link.active{
    border: 0;
    border-bottom: 0.0125rem solid orangered !important;
    color: orangered !important;
}
#specialPlans .nav-tabs{
    border-bottom: 0;
}
#specialPlans .row:nth-child(3) button{
    border: 1px solid orange !important;
    border-radius: 60px !important;
}
.footer .row:nth-child(1) button{
    padding: 0.3rem 2rem;
}
.footer .row:nth-child(3) button{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid orange;
    color: white;
}
.footer .row:nth-child(4){
    height: auto;
    background: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png), #06111A;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
}
.footer .footer-line .line{
    border: 1px solid #bcbcbc83;
    width: 80%;
}
.footer .footer-line .orange{
    border: 1px solid orange !important;
    width: 2% !important;
}
@media only screen and (max-width: 992px){
    .footer .footer-next{
        width: 75% !important;
    }
    #compare  #table{
        width: 100% !important;
        overflow-x: scroll !important;
        flex-wrap: wrap !important;
    }
}
@media only screen and (max-width: 768px){
    #compare  #table table{
        width: 50%;
    }
    .pricing-and-plans{
        margin-top: 100px !important;
    }
    #pricing .offcanvas{
        background-color: #fff !important;
    }
    #people  .people-profile {
        flex-wrap: wrap;
        }
        #people  .people-profile .col-12{
            width: 100% !important;
            margin-top: 20px;
        }
}
@media only screen and (max-width: 425px){
    .pricing-and-plans{
        margin-top: 100px !important;
    }
    #people  .people-profile {
    flex-wrap: wrap;
    }
    #people  .people-profile .col-12{
        width: 100% !important;
        margin-top: 20px;
    }
    .footer .border-lightgray{
        width: 95% !important;
    }
}